{% extends 'base_template/principal.html' %}

{% block content %}
<div class="barra-superior">
    <div>
        <h1>Hola {{request.user|title}}</h1>
        <h3 style="margin:0">Tienes <i>{{count}}</i> tarea{{count|pluralize}} incompleta{{count|pluralize}}</h3>
    </div>

    {% if request.user.is_authenticated %}
        <form action="{% url 'cerrar_sesion' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Cerrar Sesión">
        </form>
    {% else %}
        <a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
    {% endif %}

</div>

<h1>Lista de Pendientes</h1>
<div id="envoltorio-agregar-buscar">

    <form method="GET">
        <input type="text" name="area-buscar" value="{{valor_buscado}}">
        <input class='boton' type="submit" value="Buscar">
    </form>
    <a id='enlace-agregar' href="{% url 'crear_tarea' %}">Nueva Tarea</a>
</div>

<div class="envoltorio-items-tarea">
    {% for tarea in tareas %}
    <div class="envoltorio-tarea">
        {% if tarea.completo %}
        <div class="titulo-tarea">
            <div class="icono-tarea-completa"></div>
            <i><s><a href="{% url 'actualizar_tarea' tarea.id %}">{{tarea}}</a></s></i>
        </div>
        <a class='enlace-eliminar' href="{% url 'eliminar_tarea' tarea.id %}">&#x2A2F;</a>
        {% else %}
        <div class="titulo-tarea">
            <div class="icono-tarea-incompleta"></div>
            <a href="{% url 'actualizar_tarea' tarea.id %}">{{tarea}}</a>
        </div>
        <a class='enlace-eliminar' href="{% url 'eliminar_tarea' tarea.id %}">&#x2A2F;</a>
        {% endif %}
    </div>

    {% empty %}
    <h3>No hay elementos en esta lista</h3>
    {% endfor %}
</div>

</table>
{% endblock content%}
